<div style="margin-top: 20px;">
    <div>
<img src="http://alignmentchain-dev.logicplum.com/assets/images/email/feedback.png" width="" height="" alt="email">
</div>
<div style="
font-family: Roboto;
font-size: 24px;
font-style: italic;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.06em;
text-align: center;
margin-top: 20px;">
<span>Hey</span><span style="font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.06em;
text-align: center;
margin-top: 20px;
color: rgba(100, 23, 104, 1);">admin!</span>
</div>
<div >
</div>
<div style="font-family: 'Gilroy-Medium';
font-size: 12px;
line-height: 17px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #000000;
">
You have new feedback from your organization  {{role}}  <b>{{fullname}}</b><br>
<span style="font-family: 'Gilroy-Bold';
font-size: 12px;
line-height: 17px;
/* or 142% */

text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #000000;
">{{body}}</span>


</div> 
</div>
<div >

</div>
<br>
<br>
<br>